sudo: false
dist: trusty
language: cpp
addons:
 apt:
   sources:
     - ubuntu-toolchain-r-test
     - llvm-toolchain-trusty-3.9
     - llvm-toolchain-trusty-4.0
   packages:
     - qtbase5-dev
     - libusb-1.0-0-dev
     - libprotobuf-dev
     - protobuf-compiler
     - g++-5
     - g++-6
#     - g++-7
     - clang-3.5
     - clang-3.6
     - clang-3.8
     - clang-3.9
     - clang-4.0
     
matrix:
 include:
   - install:
       - export CC=gcc-5 && export CXX=g++-5
       - cd libhidx && ./getasio.sh
   - install:
       - export CC=gcc-6 && export CXX=g++-6
       - cd libhidx && ./getasio.sh
#   - install:
#       - export C=gcc-7
#       - export CXX=g++-7
   - install:
       - export CC=clang-3.5 && export CXX=clang++-3.5
       - cd libhidx && ./getasio.sh
   - install:
       - export CC=clang-3.6 && export CXX=clang++-3.6
       - cd libhidx && ./getasio.sh
   - install:
       - export CC=clang-3.8 && export CXX=clang++-3.8
       - cd libhidx && ./getasio.sh
   - install:
       - export CC=clang-3.9 && export CXX=clang++-3.9
       - cd libhidx && ./getasio.sh
   - install:
       - export CC=clang-4.0 && export CXX=clang++-4.0
       - cd libhidx && ./getasio.sh
       
script:
 - mkdir build && cd build && cmake .. && make
cache:
  apt: true
